@model AdvanceTourismGuide.Models.VehicalBooking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehicalBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approve_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approve_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
