@model AdvanceTourismGuide.Models.Vehical

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vehical</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehical_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehical_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehical_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehical_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehical_Pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehical_Pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehical_dis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehical_dis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehical_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehical_Contact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vehicale_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
