@model IEnumerable<AdvanceTourismGuide.Models.Vehical>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehical_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehical_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehical_Pic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehical_dis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehical_Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehical_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehical_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehical_Pic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehical_dis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehical_Contact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Vehicale_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Vehicale_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Vehicale_id })
        </td>
    </tr>
}

</table>
